<div id="page_content_inner">
    <h3 class="heading_b uk-margin-bottom">Заявки с формы</h3>
    <% if @form_requests.size == 0 %>
    <div class="md-card">
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                <center> Отсутствуют элементы для отображения </center></div>
            </div>
        </div>
    </div>
    <% else %>
    <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
        <div class="uk-width-xLarge-10-10  uk-width-large-10-10">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-overflow-container uk-margin-bottom">
                        <table class="uk-table uk-table-nowrap uk-table-hover" id="ts_pager_filter">
                            <thead>
                                <tr>
                                    <th class="uk-text-center">id</th>
                                    <th class="uk-text-center">Имя</th>
                                    <th class="uk-text-center">Телефон</th>
                                    <th class="uk-text-center">Дата создания</th>
                                    <th class="uk-text-center">Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @form_requests.each do |item| %>
                                <tr>
                                    <td class="uk-text-center"><%= item.id %></td>
                                    <td class="uk-text-center"><%= item.name %></td>
                                    <td class="uk-text-center"><%= item.phone %></td>
                                    <td class="uk-text-center"><%= item.created_at %></td>
                                    <td class="uk-text-center">
                                        <%= link_to "<i class=\"material-icons md-24\">&#xE88F;</i>".html_safe, administrators_form_request_path(item) %>
                                        <%= link_to "<i class=\"material-icons md-24\">&#xE872;</i>".html_safe, administrators_form_request_path(item), method: :delete %>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                    <div class="will_paginate_plugin uk-text-center">
                        <%= will_paginate @form_requests %>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <% end %>
    
</div>