<main class="wrapper main-content detail cart_page">
    <!-- breadcrumb -->
    <div class="breadcrumbs">
        <div class="container">
          <ul class="items">
                <li class="item home">
            
                     <h3>Корзина</h3>
                </li>
               
            </ul>
        </div>
    </div>

<% if @line_items.size > 0 %>
    
    <div class="container">
   

            <!-- Form cart -->
            <form class="cart-form" action="#">
                <div class="table-responsive">
                  <table class="table cart-table">
                      <thead>
                         <tr>
                              <th></th>
                              <th class="product-name title">Товар</th>
                              <th >Название</th>
                              <th>Цена за еденицу</th>
                              <th>Кол-во</th>
                              <th>Стоимость</th>
                         </tr>
                      </thead>
                      <tbody>
                        <% @line_items.each do |item| %>
                         <tr>
                              <td class="product-remove">
                                 <%= link_to "<i class=\"fa fa-times-circle\"></i>".html_safe, line_item_path(item), method: :delete, class: 'remove' %>
                              </td>
                              <td class="product-img clearfix">
                                <a href="<%= product_path(item.product) %>">
                                <%= image_tag item.product.avatar.main_page %>
                                 </a>
                              </td>
                              <td class="product-name-ct">
                                 <%= link_to item.product.name, product_path(item.product) %></p>
                              </td>
                            <td class="product-price">
                                <p class="price"> <%= item.product_price %> р.</p>
                            </td>
                              <td>
                                <%= item.quantity %> 
                              </td>
                              <td class="product-subtotal">
                                <p class="price"><%= item.total_price %> р.</p>
                              </td>
                         </tr>
                         <% end %>
                        
                         
                      </tbody>
                  </table>
                </div>
           </form>
           <!-- end form cart -->


           <div class="cart-collaterals row">
              <div class="col-md-6">
                 <div class="cal-shipping">
                    <h3>Контакты покупателя</h3>
                    <%= form_for @order, remote: true, authenticity_token: true do |f| %>
                      
                       <div class="input-text cart-input">
                          <%= f.text_field :customer_name, placeholder: "Имя(обязательно)", class: "input form-control" %>
                       </div>
                       <div class="input-text cart-input">
                         <%= f.text_field :customer_email, placeholder: "Email", class: "input form-control" %>
                       </div>
                       <div class="input-text cart-input">
                          <%= f.text_field :customer_phone, placeholder: "Телефон", class: "input form-control" %>
                       </div>
                       <div class="input-text cart-input">
                          <%= f.text_area :customer_city, placeholder: "Город", class: "input form-control" %>
                       </div>
                       <div class="input-text cart-input">
                          <%= f.text_area :customer_address, placeholder: "Адрес (обязательно)", class: "input form-control" %>
                       </div>
                       <div class="input-submit">
                          <%= f.submit "Оформить заказ", class: "btn-add-cart" %>
                          <%= link_to "Очистить корзину", cart_path(@cart), method: :delete, class: 'button pull-right'  %>
                       </div>
                    <% end %>
                 </div>
                 <!-- .cal-shipping -->
              </div>
              <div class="col-md-6">
                 <div class="cal-shipping">
                 
                    <table>
                       
                       <tr class="order-total">
                          <th>
                             <div class="black-bg">Всего :</div>
                          </th>
                          <td>
                             <div class="black-bg"><strong><span class="amount"><%= @cart.total_price %> р.</span></strong></div>
                          </td>
                       </tr>
                    </table>
                 </div>
                 <!-- .cal-shipping -->
              </div>
           </div>
           
    </div>
<% else %>
  <h2 class="page-heading">
    <span class="page-heading-title2 blank_cart_text">Корзина пустая</span>
    </h2>
  <% end %>

  </main>