<main class="wrapper main-content main_page">
<section id="engo-6" class="engo-box">
   <div class="container">
      <div class="product-grid categories_list">
         <!-- row item -->
         <div class="row row-items clearfix">
            <% @product_categories.each do |category|  %>
            <div class="col-sm-3">
               <div class="product-item ">
                  <div class="product-img">
                     <a href="#" class="image-hover">
                        <%= image_tag category.avatar.main_page, class: 'product-image-photo' %>
                        <%= image_tag category.avatar.main_page, class: 'product-image-photo' %>
                        
                     </a>
                  </div>
                  <div class="product-info">
                     <div class="product-name">
                        <%= link_to category.name, product_category_path(category), class: 'product-item-link' %>
                     </div>
                  </div>
               </div>
            </div>
            <% end %>
         </div>
         <!-- end row item -->
         
      </div>
   </div>
</section>


<section id="engo-6" class="engo-box">
   <div class="container">
    <%= @page.description.html_safe %>
    <br/><br/>
   </div>
</section>


<section id="engo-3" class="engo-box">
   <div class="carousel-product">
      <div class="container">
         <div class="box-title">
            <h3 class="h3-title">
            Последние добавленные товары
            </h3>
            <div class="title-icon">
               <img src="/site_theme/images/title-icon.png" alt="">
            </div>
         </div>
         <!-- tab content -->
         <div class="box-content">
            <div class="product-grid owl-carousel-play" data-ride="owl-carousel">
               <!-- row item -->
               <div class="row clearfix owl-carousel" data-slide="6" data-pagination="false" data-navigation="false" data-desktop="6" data-desktopsmall="6" data-tablet="4" data-tabletsmall="3" data-mobile="2">
                  <% @random_products.each do |product| %>
                  <div class="item owl-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="100ms">
                     <div class="product-item ">
                        <div class="product-img">
                           <a href="#" class="image-hover">
                              <%= image_tag product.avatar.main_page, class: 'product-image-photo' %>
                              <%= image_tag product.avatar.main_page, class: 'product-image-photo' %>
                           </a>
                        </div>
                        <div class="product-info">
                           
                           <div class="product-name">
                              <%= link_to product.name, product_path(product), class: 'product-item-link' %>
                           </div>
                           <div class="price-box price-final_price">
                              <span class="price">
                                 <%= product.price %> р.
                              </span>
                           </div>
                           
                        </div>
                     </div>
                  </div>
                  <% end %>
               </div>
               <!-- end row item -->
            </div>
         </div>
         <!-- end tab container -->
      </div>
   </div>
</section>
</main>