<main class="wrapper main-content detail detail-v2">
<!-- breadcrumb -->
<div class="breadcrumbs clearfix">
    <div class="container-full-screen">
        <ul class="items">
            
            <li class="item product-item">
                <%= link_to @product.product_category.name, product_category_path(@product.product_category) %>
            </li>
        </ul>
    </div>
</div>
<!-- End breadcrumbs -->
<!-- product single -->
<div class="product-single clearfix">
    <div class="container container-no-padding custom-container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div id="owl-product-image" class="product-image owl">
                    <div id="owl-carousel" class="owl-carousel carousel-product margin-bottom-10">
                        <div class=" item">
                            <a class="ProductPhotoImg" href="#" >
                                <%= image_tag @product.avatar.page_product_main %>
                            </a>
                        </div>
                        <% @attacments.each do |attacment| %>
                        <div class=" item">
                            <a class="ProductPhotoImg" href="#" >
                                <%= image_tag attacment.image.page_product %>
                            </a>
                        </div>
                        <% end %>
                    </div>
                </div>
                <div class="product-thumbnails">
                    <div id="ProductThumbs" class=" owl-carousel owl-product-thumbs margin-bottom-0">
                        <% @attacments.each do |attacment| %>
                        <div class=" item thumbnails">
                            <a href="javascript:" class="product-single__thumbnail">
                                <%= image_tag attacment.image.page_product_thumb %>
                            </a>
                        </div>
                        <% end %>
                    </div>
                </div>
                <script type="text/javascript">
                (function ($, window, document) {
                var api_images = ["/images/product/1.jpg","/images/product/1-2.jpg"];
                
                var slide_show = $("#owl-product-image #owl-carousel");
                var slide_thumb = $(".owl-product-thumbs");
                
                slide_show.owlCarousel({
                items:1,
                loop:true,
                slideBy: 1,
                dotData: true,
                onInitialized : init_click_scroll,
                onChanged: this_zoom,
                onRefreshed: this_zoom
                });
                
                slide_thumb.owlCarousel({
                autoPlay: false,
                items : 4,
                nav: true,
                dots: false,
                onInitialized : function(){
                slide_thumb.css("visibility","visible");
                }
                
                });
                $('.owl-item', slide_thumb).not('.cloned').each(function(index) {
                $(this).click(function(){
                owl_slide.to(index);
                })
                });
                
                var owl_slide = slide_show.data('owlCarousel');
                
                $('.owl-item', slide_show).not('.cloned').each(function(index) {
                $(this).click(function(){
                owl_slide.to(index);
                })
                });
                function init_click_scroll() {
                slide_show.css('visibility','visible');
                $('.owl-item', slide_show).not('.cloned').each(function(index) {
                $(this).click(function(){
                owl_slide.to(index);
                this_zoom();
                });
                });
                }
                function this_zoom(){
                var current = this._current;
                $(slide_show).find(".owl-item").eq(current).hover(
                function () {
                setTimeout($(this).zoom(),100);
                $(this)
                
                },
                function () {
                $(this).trigger('zoom.destroy');
                
                }
                );
                
                }
                function build_gallery(){
                $(".click-to-gallery").click(function(){
                $.prettyPhoto.open(api_images);
                });
                
                }
                function cancel_gallery() {
                $.prettyPhoto.close();
                }
                
                
                
                
                })(jQuery);
                </script>
            </div>
            <div class="col-sm-6 col-xs-12 custom-col-detail">
                <!-- product-shop -->
                <div class="product-shop">
                    <h1 class="product-name"><%= @product.name %></h1>
                    <div class="product-review">
                        
                    </div>
                    <div class="price-box product-single-prices">
                        <span class="price">
                            <%= @product.price %> р.
                        </span>
                        
                    </div>
                    <div class="product-description des">
                        <%= @product.short_description %>
                    </div>
                    <!-- form add to cart -->
                    <div id="AddToCartForm">
                        <div class="product-signle-options clearfix">
                            <%= form_tag('/orders/create_quick', remote: true, authenticity_token: true, class: 'quick_order') do %>
                            <div class="selector-wrapper color">
                                
                                <%= text_field_tag 'customer_phone', '', class: 'form-control input', width: 10, placeholder: "Номер телефона"  %>
                                <%= hidden_field_tag 'product_id', @product.id %>
                                
                            </div>
                            <div class="selector-wrapper color">
                                <%= submit_tag 'Купить в один клик', class: "btn-add-cart" %>
                                
                            </div>
                            <% end %>
                            
                            <div class="selector-wrapper color">
                                <div class="action add-to-cart">
                                    <% if @product.in_cart?(@minicart) %>
                                    <div class="product-price-group"><span class="price">уже в корзине</span></div>
                                    <% else %>
                                    <%= button_to 'Добавить в корзину', line_items_path(product_id: @product), {class: "btn btn-primary"} %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                
                <div class="tabs-container">
                   <ul class="tabs clearfix margin-top-30">
                      <li><a class="active" href="#tab-description">Описание</a></li>
                        <li><a href="#tab-back_call" >Обратный звонок</a></li>
                        <li><a href="#tab-question" >Задать вопрос</a></li>
                        <li><a href="#tab-form_request" >Отправить заявку</a></li>
                   </ul>
                   
                   <div style="display: block;" id="tab-description" class="tab-content tab-description">
                        <%= @product.description.html_safe %>
                    </div>

                  <div id="tab-back_call" class="tab-content">
                        <p>
                            Закажите обратный звонок по товару уже сейчас
                        </p>
                        <%= form_for @back_call, remote: true, authenticity_token: true do |f| %>
                        
                        <%= f.text_field :phone, placeholder: "Номер телефона", class: 'form-control input', width: 20 %>
                        
                        <%= f.hidden_field :product_id, value: @product.id %>
                        
                        <%= f.submit "Отправить", class: 'btn btn-primary' %>
                        
                        <% end %>
                    </div>
                     <div id="tab-question" class="tab-content">
                         <p>
                            Задайте вопрос по товару
                        </p>
                        <%= form_for @product_question, remote: true, authenticity_token: true do |f| %>
                                <%= f.text_field :name, placeholder: "Имя", class: 'input form-control' %><br/>
                                <%= f.text_field :phone, placeholder: "Номер телефона", class: 'input form-control' %><br/>
                                <%= f.text_area :text, placeholder: "Текст вопроса", class: 'input form-control' %><br/>
                                <%= f.hidden_field :product_id, value: @product.id %>
                                <%= f.submit "Отправить", class: 'btn btn-primary' %>
                                <% end %>
                    </div>
                    <div  id="tab-form_request" class="tab-content">
                        <p> Есть предложения к сотрудничеству ? Оставьте заявку и Мы с Вами свяжемся! </p> 
                                <%= form_for @form_request, remote: true, authenticity_token: true do |f| %>
                                <%= f.text_field :name, placeholder: "Имя", class: 'input form-control' %><br/>
                                <%= f.text_field :email, placeholder: "Email", class: 'input form-control' %><br/>
                                <%= f.text_field :phone, placeholder: "Номер телефона", class: 'input form-control' %><br/>
                                <%= f.text_area :text, placeholder: "Текст заявки", class: 'input form-control' %><br/>
                                <%= f.hidden_field :product_id, value: @product.id %>
                                <%= f.submit "Отправить", class: 'btn btn-primary' %>
                                <% end %>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</div>
<!-- eng product single -->
<!-- carousel product -->
<section  class="engo-box margin-top-100">
    <div class="carousel-product upsell-product">
        <div class="container">
            <div class="box-title">
                <h3 class="h3-title">
                 Недавно добавлеенные товары
                </h3>
                <div class="title-icon">
                    <img src="/site_theme/images/title-icon.png" alt="">
                </div>
            </div>
            <!-- tab content -->
            <div class="box-content">
                <div class="product-grid owl-carousel-play" data-ride="owlcarousel">
                    <!-- row item -->
                    <div class="row clearfix owl-carousel " data-slide="4" data-pagination="false" data-navigation="false" data-desktop="4" data-desktopsmall="4" data-tablet="1" data-tabletsmall="1" data-mobile="1">
                       <% @random_products.each do |product| %>
                        <div class="item wow fadeInUp" data-wow-duration="1s" data-wow-delay="100ms">
                            <div class="product-item ">
                                           <div class="product-img">
                                               <a href="#" class="image-hover">
                                               <%= image_tag product.avatar.page_category, class: 'product-image-photo' %>
                                               <%= image_tag product.avatar.page_category, class: 'product-image-photo' %>
                                               </a>
                                           </div>
                                           <div class="product-info">
                                               
                                               <div class="product-name">
                                                   <%= link_to product.name, product_path(product), class: 'product-item-link' %>
                                               </div>
                                               <div class="price-box price-final_price">
                                                   <span class="price">
                                                   <%= product.price %> р.
                                                   </span>  
                                               </div>
                                              
                                           </div>
                                       </div>
                        </div>
                        <!-- end product -->
                        <% end %>
                    </div>
                    <!-- end row item -->
                </div>
            </div>
            <!-- end tab container -->
        </div>
    </div>
</section>
<!-- End carousel product -->
</main>