<% provide(:class, 'category-page') %>
<% provide(:seo_title, @product_category.meta_title) %>
<% provide(:seo_description, @product_category.meta_description) %>
<% provide(:seo_keywords, @product_category.meta_keywords) %>
<!-- breadcrumb -->
<div class="breadcrumbs breadcrumbs-v2">
  <div class="img-breadcrumb">
    <img src="/site_theme/images/breadcrumbs.png" alt="">
  </div>
  <div class="breadcrums1">
    <div class="container">
      <ul class="items">
        
        <li class="item category">
          <strong><%= @product_category.name %></strong>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- End breadcrumbs -->
<main id="maincontent" class="page-main">
<div class="container">
  <div class="columns">
    <div class="sidebar">
    </div>
    <!-- Col main -->
    <div class="column main">
      <div class="toolbar">
        
       <%= @product_category.description.html_safe %>
      </div>
      <section id="engo-3" class="engo-box">
        <div class="carousel-product">
          <div class="container">
            <div class="box-title">
              <h3 class="h3-title">
              
              </h3>
              <div class="title-icon">
                <img src="/site_theme/images/title-icon.png" alt="">
              </div>
            </div>
            <!-- tab content -->
            <div class="box-content">
              <div class="product-grid owl-carousel-play" data-ride="owl-carousel">
                <!-- row item -->
                <div class="row clearfix owl-carousel" data-slide="6" data-pagination="false" data-navigation="false" data-desktop="6" data-desktopsmall="6" data-tablet="4" data-tabletsmall="3" data-mobile="2">
                  <% @childern_categories.each do |category| %>
                  <div class="item owl-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="100ms">
                    <div class="product-item ">
                      <div class="product-img">
                        <a href="<%= product_category_path(category) %>" class="image-hover">
                          <%= image_tag category.avatar.page_category_subcategories_list, class: 'product-image-photo' %>
                          <%= image_tag category.avatar.page_category_subcategories_list, class: 'product-image-photo' %>
                        </a>
                      </div>
                      <div class="product-info">
                        
                        <div class="product-name">
                          <%= link_to category.name, product_category_path(category), class: 'product-item-link' %>
                        </div>
                        
                        
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>
                <!-- end row item -->
              </div>
            </div>
            <!-- end tab container -->
          </div>
        </div>
      </section>
      <div class="product-grid clearfix" id="tabs-grid">
        <% @products.each do |product| %>
        <div class="col-xs-12 col-md-3 col-sm-4">
          <div class="product-item wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0ms">
            <div class="product-img">
              <a href="<%= product_path(product) %>" class="image-hover">
                <%= image_tag product.avatar.page_category, class: 'product-image-photo' %>
                <%= image_tag product.second_avatar.page_category, class: 'product-image-photo' if product.second_avatar %>
              </a>
            </div>
            <div class="product-info">
              
              <div class="product-name">
                <%= link_to product.name, product_path(product), class: 'product-item-link' %>
              </div>
              <div class="price-box price-final_price">
                <span class="price">
                  <%= product.price %> р.
                </span>
              </div>
              
            </div>
          </div>
        </div>
        <% end %>
      </div>
      
      
      <!-- toolbar bottom -->
      <div class="toolbar-bottom">
        
        
        <%= will_paginate(@products, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
        
        <!--
        <div class="pagination">
          <ul>
            <li class="prev"><a href="#"><i class="fa fa-long-arrow-left"></i> Previous</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><span class="current">3</span></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><span>...</span></li>
            <li><a href="#">19</a></li>
            <li class="next"><a href="#">Next <i class="fa fa-long-arrow-right"></i></a></li>
          </ul>
        </div>
        -->
      </div>
      <!-- end tool bar bottom -->
    </div>
  </div>
</div>
</main>
<!-- PAGE FOOTER -->