<div id="page_content_inner">
    <h3 class="heading_b uk-margin-bottom">Категории товаров</h3>
    <% if @product_categories.size == 0 %>
    <div class="md-card">
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                <center> Отсутствуют элементы для отображения </center></div>
            </div>
        </div>
    </div>
    <% else %>
    <div class="uk-grid uk-grid-medium" data-uk-grid-margin>

        <div class="uk-width-xLarge-10-10  uk-width-large-10-10">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-overflow-container uk-margin-bottom">
                        <table class="uk-table uk-table-nowrap uk-table-hover table_check">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Название</th>
                                    <th>Родитель</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @product_categories.each do |category| %>
                                <tr class="item<%= category.id %>">
                                    <td><%= category.id %></td>
                                    <td><%= link_to category.name, edit_administrators_product_category_path(category) %></td>
                                    <td>
                                        <%= category.product_category.name if category.product_category %>
                                        <%= "Родительская категория" if category.product_category == nil %>
                                    </td>
                                    
                                    <td>
                                        <%= link_to "<i class=\"material-icons md-24\">&#xE254;</i>".html_safe, edit_administrators_product_category_path(category)%>
                                        <%= link_to "<i class=\"material-icons md-24\">&#xE872;</i>".html_safe, administrators_product_category_path(category), method: :delete, remote: true, data: {confirm: "Удалить категорию"} %>
                                        <%= link_to "<i class=\"material-icons md-24\">&#xE88F;</i>".html_safe, product_category_path(category), target: "_blank" %>
                                        
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                        <div class="will_paginate_plugin uk-text-center">
                            <%= will_paginate @product_categories %>
                        </div>
                    </div>
                </div>
                
                <div class="md-fab-wrapper">
                    <a class="md-btn md-btn-success" href="/administrators/product_categories/new">Добавить</a>
                    
                </div>
            </div>
        </div>
   
    <% end %>     
    </div>

