  <header id="engo-masthead"  class="site-header header_content header-v4 inherit">
         <!-- header main -->
         <div class="header-main  clearfix">
            <div class="container-full-screen">
               <div class="container1 clearfix">
                  <!--  -->
                  <div class=" hidden-lg hidden-md  engo-mainmenu offcanvas-fixed">
                     <div class="btn-toggle-menu  btn-nav" data-toggle="offcanvas">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                     </div>
                  </div>
                  <!--  -->
                  <!-- .logo -->
                  <div class="logo">
                     <a  title="Magento Commerce" href="/">
                     <img  alt="Shop Logo" src="/site_theme/images/logo3.png">
                     </a>
                  </div>
                  <!-- end .logo -->
                  <!-- nav -->
                  <div id="main-menu" class="main-menu clearfix">
                           <ul class="main-nav clearfix">
                            
                            
                              <% @main_menu.each do |item| %>
                              <% if item.children.size == 0 %>
                                <li><%= link_to item.title, item.url %></li>
                              <% else %>
                               <li>
                                 <%= link_to item.title, item.url %>
                                  <ul class="sub-menu">
                                  <% item.children.each do |children_item| %>
                                    <li><%= link_to children_item.title, children_item.url %></li>
                                    <% end %>
                                  </ul>
                                </li>
                              <% end %>
                              
                              
                           <% end %>

                           </ul>
                        </div>
                  <!-- end nav -->
                  <!-- right header -->
                  <div class="right-header">
                     <!-- cart -->
                     <% if @minicart %>
                     <div class="mini-cart clearfix off-canvas-right">

                        <div class="cart-icon off-canvas">
                          <a href="<%= cart_path(@minicart) %>"> <img src="/site_theme/images/cart-icon2.png" alt=""> </a>
                        </div>
                        <div class="cart-label off-canvas">
                        <a href="<%= cart_path(@minicart) %>">   Корзина
                           <i>(<%= @minicart.total_price %> р)</i></a>
                        </div>
                      
                     </div>
                     <% end %>
                     <!-- end cart -->
                    
                  </div>
                  <!-- end right header -->
               </div>
            </div>
         </div>
         <!-- end header main -->
      </header>