<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no"/>
    <link rel="icon" type="image/png" href="/admin_theme/assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/admin_theme/assets/img/favicon-32x32.png" sizes="32x32">
    <title>Панель управления</title>
    <!-- uikit -->
    <link rel="stylesheet" href="/admin_theme/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">
    <link rel="stylesheet" href="/admin_theme/assets/icons/flags/flags.min.css" media="all">
    <link rel="stylesheet" href="/admin_theme/assets/css/main.css" media="all">
    
    <link rel="stylesheet" href="/admin_theme/assets/css/themes/themes_combined.min.css" media="all">
    
    <%= stylesheet_link_tag    'administrator', media: 'all' %>
    <%= csrf_meta_tags %>
</head>
<body class=" sidebar_main_open sidebar_main_swipe">
    <%= render '/layouts/administrator/header' %>
    <%= render '/layouts/administrator/sidebar' %>
    <div id="page_content">
        <%= yield %>
    </form>
</div>
</div>
<!-- common functions -->
<script src="/admin_theme/assets/js/common.min.js"></script>
<!-- uikit functions -->
<script src="/admin_theme/assets/js/uikit_custom.min.js"></script>
<!-- altair common functions/helpers -->
<script src="/admin_theme/assets/js/altair_admin_common.min.js"></script>
<!-- page specific plugins -->
<!-- handlebars.js -->
<script src="/admin_theme/bower_components/handlebars/handlebars.min.js"></script>
<script src="/admin_theme/assets/js/custom/handlebars_helpers.min.js"></script>
<!--  product edit functions -->
<script src="/admin_theme/assets/js/pages/ecommerce_product_edit.min.js"></script>
<%=  javascript_include_tag 'administrator' %>
</body>
</html>